.pets-table {
    width: 100%;
    height: 500;
    display: flex;
    max-width: 1000px;
    align-items: flex-start;
    flex-direction: column;

    h2 {
        margin: 6px 0;
        width: 100%;
    }

    .btn-add-pet {
        margin: 8px 0;
        width: 100%;
    }
}
