@import url('https://use.typekit.net/ztj7nxi.css');
@import './variables';

h1 {
    font-size: 60px;
}
h1,
h2 {
    font-family: $headerFont;
    font-style: normal;
    font-weight: 700;
    color: $baseBlue;
}
html,
body {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    overflow-x: hidden;
    background-color: $backgroundWhite;
    max-width: 100vw;
}

a {
    color: white;
    text-decoration: none;
}

.logo path {
    fill: $yellow;
}
