@import url('https://fonts.googleapis.com/css2?family=Bowlby+One+SC&family=Inter+Tight:ital,wght@0,300;0,400;1,300&family=Lato&family=Lilita+One&family=Passion+One&family=Poller+One&family=Ubuntu:wght@300&display=swap');
/*Palette */

$darkBlue: #002729;
$baseBlue: #005c64;
$yellow: #efd309;
$red: #bf211e;
$brown: #fff8f8;
$backgroundWhite: #f8f8f8;

$headerFont: 'Bowlby One SC', cursive;
$baseFont: 'Lato', sans-serif;
